Source: console-keyboard-basic
Section: misc
Priority: optional
Maintainer: Daniel Patrick Abrecht <deb@danielabrecht.ch>
Build-Depends: libconsolekeyboard-dev, libncursesw5-dev, pkgconf, debhelper (>= 12~)
Standards-Version: 4.3.0
#Homepage: <insert the upstream URL, if relevant>
# Also available at:
#  https://gitlab.com/DanielAbrecht/console-keyboard-basic.git
#  https://source.puri.sm/DanielAbrecht/console-keyboard-basic.git
#  https://github.com/Daniel-Abrecht/console-keyboard-basic.git
Vcs-Git: https://projects.dpa.li/git/console-keyboard-basic.git
Vcs-Browser: https://projects.dpa.li/git/?p=console-keyboard-basic.git;a=summary

Package: console-keyboard-basic
Provides: console-keyboard
Architecture: any
Depends: libconsolekeyboard1, libncursesw5, ${shlibs:Depends}, ${misc:Depends}
Description: Very basic console keyboard
 This is a very basic proof of concept console keyboard intended
 to be used with the console-keyboard-multiplexer. Key presses are
 sent to the console-keyboard-multiplexer using libconsolekeyboard.
